h2{
    text-align: center;
}
input{
    border-radius: 5px;
    width: 300px;
}

button{
    border-radius: 5px;
    width: 150px;
    margin-left: 100px;
    background: blue;
    color: aliceblue;
}
.meuForm{/*OPcional*/
    width: 500px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    margin-left: 500px;


}
