*{
    margin: 0px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
    background:grey;
    padding: 5px;
    border: 1px solid rgb(129, 127, 127);
}
.nav_ul{
   
}

.nav_li{
    display: inline-flex;
    padding: 5px;
  
}
.nav_a{

    text-decoration: none;
    color: aliceblue;
}

.div_main{
    padding: 10px;
}
.nav_logo{
    width: 50px;
    margin: 0px 10px 100px 0px;
}